<app-subtop></app-subtop>
<div class="Wrap">
  <div class="searchBox">
    <input type="text" class="form-control" id="filter" (keyup)='Filter()'>
    <p class="searchButton pointer"><span class="buttonIcon"></span></p>
  </div>
  <div class="listWrap">
    <div class='list chkon' (click)="upscroll(att)" *ngFor='let att of dataset'>
      <div class="imgWrap ok">
        <img class="imgradius" src="{{filePath}}{{att.file}}" alt="{{att.name}}님 사진">
      </div>
      <span class="name">{{att.name}}</span>
      <span class="attend">출석</span>
    </div>
  </div>
  <div class="listWrap">
    <div class='list' (click)="upscroll(att)" *ngFor='let att of datasetu'>
      <div class="imgWrap none">
        <img class="imgradius" src="{{filePath}}{{att.file}}" alt="{{att.name}}님 사진">
      </div>
      <span class="name">{{att.name}}</span>
      <span class="notAttend">결석</span>
    </div>
  </div>

  <div class="animateBox" *ngIf='forBox'>
    <span class="xbox" (click)='downscroll()'>
      <mat-icon>close</mat-icon>
    </span>
    <div class="imgoutWrap">
      <div class="imginnerWrap">
        <img class="imgradius" src="{{filePath}}{{forBox.file}}" alt="{{forBox.name}}님 사진">
      </div>
    </div>
    <div class="tag">
      <p class="tagName">{{forBox.name}}</p>
      <p class="tagAge">({{forBox.age}}세)</p>
    </div>
    <div class="tagInfoBox">
      <p class="tagInfo desc">
        <span class="label">특이사항</span>
        <span class="contents">{{forBox.note}}</span>
      </p>
      <!-- <p class="tagInfo teacher">
        <span class="label">담당교사</span>
        <span class="contents">{{forBox.teacher}} 교사</span>
      </p> -->
      <p class="tagInfo contact">
        <span class="label">보호자연락처</span>
        <span class="contents">{{forBox.gcontact}}</span>
      </p>
    </div>
  </div>
</div>
