<app-subtop></app-subtop>
<div class="Wrap">
  <div class="searchBox">
    <input type="text" class="form-control" id="filter" (keyup)="Filter()">
    <p class="searchButton pointer"><span class="buttonIcon"></span></p>
  </div>
  <div class="datePicker">
    <span class="arrow left" (click)='dateprev()'></span>
    <span class="date">{{info}}</span>
    <span class="arrow right"(click)='datenext()'></span>
  </div>
  <div class="listWrap" >
    <div class="list" *ngFor ='let att of dataset' (click)='upscroll(att)'>
      <div class="imgWrap ok">
        <img src="{{filePath}}{{att.file}}" alt="username">
      </div>
      <div class="info">
        <span class="attend">출석</span>
        <span class="name">{{att.name}}</span>
        <p class="attIn" *ngIf='att.present.length > 0'>In: {{att.present[0].date | date: 'HH:mm'}}</p>
        <!-- <p class="attout" *ngIf='att.outTime'>Out: {{att.outTime}}</p> -->
      </div>
    </div>
    <div class="list" *ngFor ='let att of datasetu' (click)='upscroll(att)'>
      <div class="imgWrap none">
        <img src="{{filePath}}{{att.file}}" alt="username">
      </div>
      <div class="info">
        <span class="notAttend">결석</span>
        <span class="name">{{att.name}}</span>
      </div>
    </div>
  </div>

  <div class="animateBox" *ngIf='forBox'>
    <span class="xbox" (click)='downscroll()'>
      <mat-icon>close</mat-icon>
    </span>
    <div class="imgoutWrap">
      <div class="imginnerWrap">
        <img src="{{filePath}}{{forBox.file}}" alt="username">
      </div>
    </div>
    <div class="tag">
      <p class="tagName">{{forBox.name}}</p>
      <p class="tagAge">({{forBox.age}}세)</p>
    </div>
    <div class="tagInfoBox">
      <p class="tagInfo desc">
        <span class="label">특이사항</span>
        <span class="contents">{{forBox.note}}</span>
      </p>
      <p class="tagInfo teacher">
        <span class="label">보호자</span>
        <span class="contents">{{forBox.guard}}</span>
      </p>
      <p class="tagInfo contact">
        <span class="label">연락처</span>
        <span class="contents">{{forBox.gcontact}}</span>
      </p>
      <div class="btnC" *ngIf="forBox.present.length == 0">
        <button type="button" class="btn" (click)="present(forBox)">출석</button>
      </div>
    </div>
  </div>
</div>
