<app-subtop></app-subtop>
<div class="Wrap">
  <div class="searchBox">
    <input type="text" class="form-control" id="filter" (keyup)="Filter()">
    <p class="searchButton pointer"><span class="buttonIcon"></span></p>
  </div>
  <div class="datePicker">
    <span class="arrow left" (click)='dateprev()'></span>
    <span class="date">{{info}}</span>
    <span class="arrow right"(click)='datenext()'></span>
  </div>
  <div class="listWrap" >
    <div class="list" *ngFor ='let att of attds' (click)='upscroll(att)'>
      <div class="imgWrap">
        <img src="{{att.img}}" alt="username">
      </div>
      <div class="info">
        <span class="attend"></span>
        <span class="name">{{att.name}}</span>
        <p class="attIn" *ngIf='att.inTime'>In: {{att.inTime}}</p>
        <p class="attout" *ngIf='att.outTime'>Out: {{att.outTime}}</p>
      </div>
    </div>
  </div>

  <div class="animateBox" *ngIf='forBox'>
    <span class="xbox" (click)='downscroll()'>
      <mat-icon>close</mat-icon>
    </span>
    <div class="imgoutWrap">
      <div class="imginnerWrap">
        <img src="{{forBox.img}}" alt="username">
      </div>
    </div>
    <div class="tag">
      <p class="tagName">{{forBox.name}}</p>
      <p class="tagAge">({{forBox.age}}세)</p>
    </div>
    <div class="tagInfoBox">
      <p class="tagInfo desc">
        <span class="label">특이사항</span>
        <span class="contents">{{forBox.desc}}</span>
      </p>
      <p class="tagInfo teacher">
        <span class="label">담당교사</span>
        <span class="contents">{{forBox.teacher}} 교사</span>
      </p>
      <p class="tagInfo contact">
        <span class="label">보호자연락처</span>
        <span class="contents">{{forBox.guardPN}}</span>
      </p>
    </div>
  </div>
</div>
