<app-maintop></app-maintop>
<div class="topBox">
  <div class="imgoutWrap">
    <div class="imginnerWrap">
      <img src="../../../assets/photo/user/user2.png" alt="username">
    </div>
  </div>
  <p class="belong">요셉재가노인복지센터</p>
  <p class="user"><span class="name">김경민</span>&nbsp;<span class="grade">교사</span></p>
</div>
<div class="MainMenu program" routerLink='program'><span class="icon"></span>오늘의 프로그램</div>
<div class="MainMenu calendar" routerLink='calendar'><span class="icon"></span>출석부</div>
<div class="MainMenu medicine" routerLink='medicine'><span class="icon"></span>투약일지</div>
<div class="MainMenu seniorlist" routerLink='seniorlist'><span class="icon"></span>어르신명단</div>
<div class="MainMenu emergency">
    <span class="icon"></span><a href="tel:119">긴급전화</a>
</div>
