/* top */
.topBox{
    width:100%;
    height:200px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.profile {
    padding:1rem;
}
img {
    width:80px;
    border:1px solid #ccc;
    border-radius: 100%;
}
.belong {
    font-size: 1.5rem;
}
/* button */
.menuBox {
    padding:1rem;
}
li {
    text-align: center;
    padding:1rem 0;
}
li button {
    background-color: #eee;
    width:60%;
    font-size: 1.3rem;
    padding:0.3rem 0;
}
li button:focus {
    outline: none;
}
li button:hover {
    background-color: #666;
    color:#fff;
}