<app-maintop></app-maintop>
<div class="topBox">
    <div class="profile">
        <img src="../../../assets/photo/noimg.png" alt="직원이미지">
        <p><span class="name">김경민</span>&nbsp;<span class="grade">교사</span></p>
    </div>
    <p class="belong">요셉재가노인복지센터</p>
</div>
<div class="menuBox">
    <ul>
        <li class="program">
            <button mat-button routerLink='program'>오늘의 프로그램</button>
        </li>
        <li class="attandance">
            <button mat-button>출석부</button>
        </li>
        <li class="medicine">
            <button mat-button>투약일지</button>
        </li>
        <li class="seniorList">
            <button mat-button>돌봄명단</button>
        </li>
        <li class="emergencyCall">
            <button mat-button>긴급연락</button>  
        </li>
    </ul>
</div>