<div class="Wrap" >
  <div class="logo"></div>
  <div class="loginBox">
    <span class="date">{{today | date:'yyyy-MM-dd'}}</span>
    <div class="inputBox id">
      <label>아이디</label>
      <span class="icon"></span>
      <input type="text" name="uname" [(ngModel)]="info.uname">
    </div>
    <div class="inputBox pass">
      <label>패스워드</label>
      <span class="icon"></span>
      <input type="password" name="pwd" [(ngModel)]="info.pwd">
    </div>
  </div>
  <button mat-button class="loginButton">로그인</button>
</div>
