<app-subtop></app-subtop>
<div class="Wrap">
  <div class="searchBox">
    <input type="text" class="form-control" id="filter" (keyup)='Filter()'>
    <p class="searchButton pointer"><span class="buttonIcon"></span></p>
  </div>
  <div class="datePicker">
    <span class="arrow left"(click)='dateprev()'></span>
    <span class="date">{{nd | date:'yyyy-MM-dd'}}</span>
    <span class="arrow right"(click)='datenext()'></span>
  </div>
  <div class="listWrap">
    <div class='list chkon' (click)="upscroll(feed)" *ngFor='let feed of dataset'>
      <div class="imgWrap ok">
        <img class="imgradius" src="{{filePath}}{{feed.file}}" alt="{{feed.name}}님 사진">
      </div>
      <span class="name">{{feed.name}} / {{feed.drug.length}}회</span>
      <span class="chkIcon"></span>
    </div>
  </div>
  <div class="listWrap">
    <div class='list' (click)="upscroll(feed)" *ngFor='let feed of datasetu'>
      <div class="imgWrap none">
        <img class="imgradius" src="{{filePath}}{{feed.file}}" alt="{{feed.name}}님 사진">
      </div>
      <span class="name">{{feed.name}}</span>
      <span class="noChkIcon"></span>
    </div>
  </div>

  <div class="animateBox" *ngIf='forBox'>
    <span class="xbox" (click)='downscroll()'>
      <mat-icon>close</mat-icon>
    </span>
    <div class="imgoutWrap">
      <div class="imginnerWrap">
        <img class="imgradius" src="{{filePath}}{{forBox.file}}" alt="{{forBox.name}}님 사진">
      </div>
    </div>
    <div class="tag">
      <p class="tagName">{{forBox.name}}</p>
      <p class="tagAge">({{forBox.age}}세)</p>
    </div>
    <div class="tagInfoBox">
      <p class="tagInfo desc">
        <span class="label">특이사항</span>
        <span class="contents">{{forBox.note}}</span>
      </p>
      <!-- <p class="tagInfo teacher">
        <span class="label">담당교사</span>
        <span class="contents">{{forBox.teacher}} 교사</span>
      </p> -->
      <p class="tagInfo contact">
        <span class="label">보호자연락처</span>
        <span class="contents">{{forBox.gcontact}}</span>
      </p>
      <div class="btnC" *ngIf="nd.setHours(0, 0, 0, 0) == today">
        <button type="button" class="btn" (click)="drug(forBox)">투약</button>
      </div>
    </div>
  </div>
</div>
