.subtop {
    height: 80px;
    line-height: 80px;
    background-color: #357CD9;
    position: relative;
  }
h2 {
    text-align: center;
    line-height: 80px;
    margin:0 ;
    vertical-align: middle;
    color:#fff;
    font-size: 28px;
}
.backIcon {
    width:48px;
    height:48px;
    background: url(../../../assets/icon/arrow-left-top.png) no-repeat center center / cover;
    position: absolute;
    left:20px;
    top:16px;
} 