<div class="dietcard">
    <div class="cardHedaer">
        <input type="date" class="cDate form-control" name="date" [(ngModel)]="info.date">
    </div>
    <div class="photoWrap">
        <div class="inlineBlock imgCard" *ngFor='let m of info.meal'>
            <label class="imgCall">
                <img src="{{m.img}}" alt="{{m.label}} 그림">
                <input type="file" name="image" class="form-control hidden">
            </label>
            <select name="meal" class="form-control meal" [(ngModel)]='m.label'>
                <option value="">선택</option>
                <option value="아침">아침</option>
                <option value="점심">점심</option>
                <option value="간식">간식</option>
                <option value="저녁">저녁</option>
            </select>
        </div>
        <div class="inlineBlock imgCard" *ngIf='info.meal.length == 1'>
            <label class="imgCall">
                <span class="plus">+</span>
                <input type="file" name="image" class="form-control hidden">
            </label>
            <select name="meal" class="form-control meal">
                <option value="">선택</option>
                <option value="아침">아침</option>
                <option value="점심">점심</option>
                <option value="간식">간식</option>
                <option value="저녁">저녁</option>
            </select>
        </div>
        <div class="inlineBlock imgCard" *ngIf='info.meal.length == 1 || info.meal.length == 2'>
            <label class="imgCall">
                <span class="plus">+</span>
                <input type="file" name="image" class="form-control hidden">
            </label>
            <select name="meal" class="form-control meal">
                <option value="">선택</option>
                <option value="아침">아침</option>
                <option value="점심">점심</option>
                <option value="간식">간식</option>
                <option value="저녁">저녁</option>
            </select>
        </div>
    </div>
    <textarea class="preWrap comment form-control" placeholder="코멘트를 남겨주세요">{{info.comment}}</textarea>
</div>
<div class="buttonBox">
    <button mat-raised-button color="warn" class="remove" (click)='remove()'>삭제</button>
    <button mat-raised-button color="primary" class="adjust" (click)='adjust()'>적용</button>
</div>