.background {
    width:100%;
    border:1px solid #ccc;
}
.info{
    padding:1rem;
}
.date{
    text-align: center;
    font-size: 1.5rem;
}
.date .mat-icon {
    vertical-align: middle;
    cursor:pointer;
}
ul {
    padding:1rem;
}
ul li {
    padding:0.3rem 0;
    list-style:disc;
}