<app-subtop></app-subtop>
<div class="Wrap">

  <div class="background"></div>
  <div class="datePicker">
    <span class="arrow left" (click)='dateprev()'></span>
    <span class="date">{{date}}</span>
    <span class="arrow right" (click)='datenext()'></span>
  </div>
  <ul>
    <li class="noProgram" (click)='nothing()'>
      등록된 프로그램이 없습니다.
    </li>
    <li class="program" *ngFor='let row of rows' (click)='clicked(row,$event)'>
      <span class="onoff"></span>
      <span class="time">{{row.time}}</span>&nbsp;
      <p>
          <span class="class">{{row.class}}</span>
          <span class="proName">{{row.name}}</span>&nbsp;
      </p>
    </li>
  </ul>

</div>
