<app-subtop></app-subtop>
<div class="wholeWrap">
    <img src="../../../assets/photo/noimg.png" alt="프로그램 이미지">
    <div class="info">
        <div class="date">
            <mat-icon class="prev" >keyboard_arrow_left</mat-icon>
            2020-01-06
            <mat-icon class="next" >keyboard_arrow_right</mat-icon>
        </div>
        <ul>
            <li class="program">
                <span class="time">오전 11:00</span>&nbsp;
                <span class="proName">노래 교실</span>&nbsp;
                <span class="class">제 2교실</span>
            </li>
        </ul>
    </div>
</div>